*{
    padding:0px;
    height: 0px;
    box-sizing: border-box;
}
.content{
    height: 70vw;
    width: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.izquierda{
    font-size: 40px;
    height: fit-content;
    width: fit-content;
}

.img{
    height: 120px;
    width: 120px;
    margin-top:50px;
}