*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-padre{
    border: solid black;
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: grid;
    grid-template-columns: 70% 30%;

}
.container-padre div{
    border: solid black;
}